.card {
    width: 100vw;
    *border: 1px solid var(--color-black);
    border-radius: 4px;
    padding: 1em;
    margin: 1em;
    box-shadow: 1px 7px 7px rgba(0.4, 0, 0, 0.4);
    cursor: pointer;
}

.card:hover {
    background-color: var(--color-lightaccent);
    *color: var(--color-white);
}

.card-img {
    object-fit: contain;
}

.card-img img {
    width: 80%;
}

.border {
    width: 100%;
    border-width: 3px;
    border-radius: 13px;
    border: 2px solid #33332d;
    padding: 2px;
    border-radius: 5px 0;
}

.border-large {
    width: 100%;
}

.border::before {
    z-index: 2;
    border: 2px solid #33332d;
    border-radius: 5px;
    border-width: 3px;
    border-radius: 13px;
}

.border-large::after,
.border-large::before {
    border-width: 3px;
    border-radius: 13px;
}

@media (min-width: 900px) {
    .card,
    .border,
    .border-large {
        width: 370px;
    }
}
